$hover_colors: (
  "green": #16c053,
  "blue": #585ee6,
  "red": #f86a9d,
  "orange": #f90,
  "lightblue": #00c1eb,
  "purple": #bb7aee
);

.global_container {
  &.darkmode {
    background: #25282b;
    color: #fff;
    nav ul, footer ul {
      color: inherit;
    }
    footer ul a:hover {
      color: #d3d3d3;
    }
  }
  min-height: 100vh;
  nav {
    padding-top: 1rem;
    min-height: 10vh;
  }
  footer {
    min-height: 10vh;
  }
  nav ul, footer ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    margin: 0 auto;
    padding: 1rem 0;
    color: #31456a;
    li {
      margin: auto 0;
      a {
        padding: 0.35rem 0;
      }
    }
  }
  footer ul a:hover {
    color: #061024;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 80vh;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    max-width: 80vw;
  }
  @media screen and (min-width: 992px) {
    max-width: 60vw;
  }
  @media screen and (min-width: 1200px) {
    max-width: 50vw;
  }
}

@each $color, $value in $hover_colors {
  nav ul .#{$color}:hover {
    color: $value;
    border-bottom: 1px solid $value;
  }
}
